<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <!-- link to main stylesheet -->
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/pygments-github.css">
    <link rel="stylesheet" href="{{ site.url }}/css/fonts/octicons.css" type="text/css" />
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div class="container">
      {{ content }}
    </div><!-- /.container -->
    <footer>
      <ul>
        <li><a href="https://github.com/iljo">github.com/iljo</a></li>
      </ul>
    </footer>
  </body>
</html>
